.button {
    user-select: none;
  }
  
  .some {
    padding: 10px;
    background-color: #691674;
    width: 60vw;
    height: 50vh;
  }
  
  .boxes div {
    margin: 10px 10px 0 0;
    user-select: none;
    padding: 10px;
background-color: #878a37;

  }
  
  .box.exiting,
  .box.exited {
    display: none;
  }
  
  .boxes {  
    width: 50vw;
    background-color: #184228;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  button {
    margin: 1rem 0.5rem;
  }