html,
body {
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}


.navhc {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: #021c53;
  color: white;
  text-align: center;
}

.intro {
  color: white;
  height: 75vh;
  width: 100%;
  text-align: center;
}

.today-header {
  background: #f4f4f4;
  height: 75px;
  width: 100%;
  text-align: center;
  cursor:pointer;
}

.today-content {
  height: 800px;
  text-align: center;
  overflow: hidden;
  /* width: min-content; */
  margin: auto;
}

.tomorrow-header {
  background: #cecece;
  height: 75px;
  width: 100%;
  text-align: center;
  cursor:pointer;
}
.green p, .purple p{
display: block;
    /* width: min-content; */

}

.tomorrow-content {
  height: 800px;
  text-align: center;
  margin: auto;
}

.sticky-today {
  position: absolute;
  bottom: 75px;
}
.sticky-tomorrow {
  position: absolute;
  bottom: 0px;
}




.footerpin {
  left: 0;
  height: 800px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.gray {
  background-color: #777;
}
.blue {
  background-color: #2c7ad2;
}
.purple {
  background-color: #8d3dae;
}
.green {
  background-color: #28a92b;
}
