.panel {
  position: absolute;
}

#containerm {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.panel.description {
  position: relative;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}
