/* MouseFollowComponent.css */

.containertext {
    /* overflow: hidden; */
    position: relative;

    display: flex;
  }
  
  .content {
    width: 100%; 
    align-items: center;
    justify-content: center; 
    background-color: #9e1616;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #d21bd2;
  }
  