/* html {
    font-size: 16px;
  } */
  
  /* body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #222;
  } */
  
  p {
    margin: 0;
  }
  
  .containerbg {
    padding: 4rem 2rem 10rem;
  }
  
  .p {
    position: relative;
    display: block;
    padding: 1.25rem;
    border: 1px solid #222;
    width: 270px;
    border-radius: 0.5rem;
  }
  
  .p.active {
    color: #fff;
  }
  
  .p.p-right {
    margin-left: auto;
  }
  
  .p.p-center {
    margin: 0 auto;
  }
  
  .p p {
    position: relative;
    z-index: 1;
  }
    
    .p.rev .p-bg {
      
        transform: rotate(-2.5deg) translateX(-0.5rem);
      
    }
  
  
  .p-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #222;
    transform: rotate(2.5deg) translateX(0.5rem);
  }
  
  .spacer {
    height: calc(100vh);
    background-color: #7e0c0c;
  }
  .spacer-min {
    height: calc(50vh);
    background-color: #15a44c;
  }