.panel {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#container {
  /* width: max-content; */
  /* height: 100vh;  */
  position: relative;
  overflow: hidden;
}

.panel.description {
  position: relative;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}