/* .layoutapp{ */
  /* height: 50px; */
  /* background-color: #aaaaaa; */
  /* height: 50px; */

/* } */
nav{
  background-color: #2f08ce;
}
nav ul{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  /* background-color: #9ca374; */
  z-index: 1;
  box-sizing: border-box;
  border: none;
  padding: 0;
}
.hpage{
  width: 50%;
  background-color: #8e9219;
  color: #aaa;
}
.homeul li{
  color: #fff;
  /* background-color: #0cb91b; */
  width: max-content;
}